body {
    background: url("../img/BG.jpg") no-repeat;
    background-size: 100%;
    margin: 0;
    font-family: cursive;
    box-sizing: border-box;
}
.page-body {
    background: rgba(54, 25, 25, .2);;
    width: 80%;
    height: auto;
    margin: 0 auto;
}
header {
    background: #000;
    margin: 0px;
    position: relative;
    height: 40px;
}
.notifications {
    width: 95%;
    height: 35px;
    background: #fff;
    margin: 0 auto;
    position: relative;
    top: 10px;

}
.netcraft-logo {
    margin-left: 200px;
    margin-top: 4px;
}
.search-box {
    position: absolute;
    right: 200px;
    top: 8px;
}
.select-content{
    text-align: center;
}
.nav-section {
    display: inline-block;
    background: #000;
    width: 400px;
    height: 144px;
    color: #FFFFFF;
    margin: 35px 10px 10px 10px;
    cursor: pointer;
}

.menu-hint {
    position: relative;
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 35px;
    top: 67px;
    background: #e2e1e1;
    color: #000;
    z-index: 20;
}
.menu-hint > p {
    padding: 8px 10px 10px 10px;
    margin: 0;
}
.menu-hint > p:after {
    content: " ";
    position: absolute;
    top: 39%;
    right: 5%;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #000;
    transition:  0.5s;
}
.nav-section:hover .menu-hint > p:after{
    transform: rotate(180deg);
}

.action-list {
    display: none;
    position: absolute;
    background-color: #ebebeb;
    min-width: 368px;
    /**box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);**/
    padding: 12px 16px;
    z-index: 10;
    top: 270px;
    list-style-type: none;
}
.nav-section:hover .action-list {
    display: block;
}
.image {
    margin-top: -24px;
}
ul > li {
    text-align: left;
}
.action-list > li > a {
    width: 20px;
    color: black;
    text-align: left;
    text-decoration: none;

}
.action-list > li {
    margin-bottom: 5px;
    border-bottom: 1px solid #d8d8d8;
}
.action-list > ul:last-child {
    border-bottom: 0px;
}
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-top: 50px;
    text-align: center;
}
ul.tab li {
    display: inline-block;
    width: 260px;
    height: 50px;
    text-align: center;
    line-height: 3;
    background: #757978;
    margin-right: 30px;
}
.tab  > a:nth-last-child(1) {
    margin-right: 0;
}
.tab  > li:nth-last-child(1) {
    margin-right: 0;
}
ul.tab li a {
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    width: 228px;
    line-height: 23px;
}
ul.tab li a:hover {
    background-color: #e2e1e1;
    color: #000;
}

ul.tab li a:focus, .active {
    background-color: #e2e1e1;
    color: #000;
}
.tab-box {
    max-width: 1121px;
    height: 725px;
    background: #e2e1e1;
    margin: 0 auto;
    display: none;
    padding: 6px 12px;
}