body {
    background: url("../img/BG.jpg") no-repeat;
    background-size: 100%;
    margin: 0;
}
.page-body {
    background: #757978;
    width: 80%;
    height: auto;
    margin: 0 auto;

}
header {
    background: #000;
    margin: 0px;
}
.notifications {
    width: 95%;
    height: 35px;
    background: #FFFFFF;
    margin: 0 auto;
    position: relative;
    top: 10px;

}
