body {
    background: url("../img/BG.jpg") no-repeat;
    background-size: 100%;
    margin: 0;
}
.page-body {
    background: #757978;
    width: 80%;
    height: auto;
    margin: 0 auto;

}
header {
    background: #000;
    margin: 0px;
    position: relative;
    height: 40px;
}
.notifications {
    width: 95%;
    height: 35px;
    background: #FFFFFF;
    margin: 0 auto;
    position: relative;
    top: 10px;

}
.netcraft-logo {
    margin-left: 200px;
    margin-top: 4px;
}
.search-box {
    position: absolute;
    right: 200px;
    top: 8px;
}
.select-content{
    width: 95%;
    text-align: center;
}
.nav-section {
    display: inline-block;
    background: #000;
    width: 400px;
    height: 162px;
    color: #FFFFFF;
    margin: 35px 10px 10px 10px;
}